.DS_Store

__pycache__/

# Debug output
out/

.idea/
build/
dist/
venv/
.venv-mypy/

*.pyc
export*.vsh

/*.so
src/**/*.so

# Directory for input files used during development.
dev_inputs/

# Pipenv files used during development.
Pipfile
Pipfile.lock
